{% extends 'dashboards/dashboard.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/screensize.css' %}">

{% block right-dashboard %}
        <aside class='right-s-dashboard sd-box'>
            {% block appointment-table %}
            <div class='card sd-card sd-card-1'>
                <table >
                    <tbody>
                        <p class='title'>{% block app-table-title %} Upcoming Appointments {% endblock app-table-title %}</p>

                        <tr>
                            <th>with</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>

                        {% if latest_appointments %}
                        <tr class='appt-data'>
                            {% for appointment in latest_appointments %}
                            <td>{% block doctor-name %} {{ appointment.booked_doctor_off.doctor }} {% endblock %}</td>
                            <td>{% block appointment-date %}  {% endblock %}</td>
                            <td>{% block appointment-time %}15:00 pm{% endblock %}</td>
                            {% endfor %}
                        </tr>

                        
                        {% else %}
                        <p> Latest Appointments will pop up here </p>

                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% endblock appointment-table %}

            <form action="" class='card sd-card sd-card-2'>
                {% csrf_token %}
                <h6 style="margin-bottom: 5px; text-align: center; color: #8c30f5ff;"> Join a queue</h6>
                <input  class='form-control' type="text" name="name" id="" placeholder="your name">

                <input type="number" name="phone-number" placeholder="your phone number" class="form-control">

                <select name="queuing-for" id="" placeholder="queuing for?" class='form-control form-select'>
                    <option value="something">something</option>
                    <option value="something">something</option>
                    <option value="something">something</option>
                </select>
                
                <select name="importance" id="" aria-placeholder="importance" class='form-control form-select'>
                    <option value="something">Minimal</option>
                    <option value="something">Emergency</option>
                </select>

                <input type="button" value="join" class="btn">

            </div>
        </aside>
{% endblock right-dashboard %}
